
.textContainer{
    /* border: 1px solid rebeccapurple; */
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text{
    color: rgb(237, 191, 191);
    box-shadow: 0 0 3px 0px rgb(92, 122, 92);
    padding: 5px;
    text-align: center;
    /* height: 50px; */
    width: 30vw;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}