
.form-container{
    /* border: 1px solid red; */
    box-shadow: 0 0 4px 0.4px gray;
    padding: 15px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.label{
    margin: 5px 20px 0 10px;
    /* color: rgb(181, 181, 176); */
    color: rgb(237, 191, 191);
}

.textarea{
    width: 300px;
    border: none;
    box-shadow: 0 0 3px 0px rgb(169, 170, 169);
    border-radius: 5px;
    height: 30px;
    padding-left: 8px;
}
.submitBtn{
    margin: 0 25px;
    background-color: rgb(82, 79, 79);
    border-radius: 4px;
    color: rgb(211, 211, 207);
    padding: 4px 15px;
    border: none;
    box-shadow: 0 0 3px 1px rgb(169, 170, 169);
}
.submitBtn:hover{
    cursor: pointer;
}
